.tituloPrincipal {
    padding-left: 20px;
}

#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.subtitulos,
p {
    text-align: center;
}

#segundoParagrafo {
    font-size: 20px;
}

em strong {
    color: #ff0000;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.listas {
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 50%;
}
